<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<a href="{% url 'get_g_events' %}">
    <button>Load Events</button>
</a>
<table>
    <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Start Time</th>
    </thead>
    <tbody>
    {% for event in events_arr %}
        <tr>
            <td>
                {{ event.title }}
            </td>
            <td>
                {{ event.description }}
            </td>
            <td>
                {{ event.start_time }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>