<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\base\login.css' %}">
</head>
<body>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Productivity<span>24x7</span></div>
</div>
<br>
<div class="login">
    <form method="POST">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
    <a href="{{ GITHUB_AUTH }}">GitHub</a>
    <a href="{% url 'register' %}">Create a new Account</a>
    <div style="color: red">{{ error }}</div>
</div>


</body>
</html>