<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css\base\register.css' %}">
</head>
<body>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Productivity<span>24x7</span></div>
</div>
<br>
<div class="register">
    <input type="text" placeholder="Full Name" name="user"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="password" placeholder="repeat password" name="password"><br>
    <input type="button" value="Register">
</div>


</body>
</html>